<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action = '/quotes' method = 'post'>
        Name: <input type = 'text' name = 'name' placeholder= "Name here" >
        <br>
        Quote: <input class = 'quote' type = 'textarea' name = 'quote'>
        <br>
        <input class = 'submitButton' type = 'submit' value = 'Add my Quote!'>
        <br>
        <input type = 'submit' value = 'Skip to Quotes!'>
    </form>
    
</body>
</html>