<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>

    <% for (var q in quotes_results) { %>
        <div style="border-bottom: solid 1px;; padding: 5px; margin: 5px; width: 400px;">
            <h4>Quote: <%= quotes_results[q].quote %></h4>
            <p>      - <%= quotes_results[q].name %></p>
        </div>        
    <% } %>


    
</body>
</html>